{#
/*
 * This file is part of the ProductReview plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}
<style type="text/css">
    #review_area span.recommend_level {
        color: #DE5D50;
    }
    #review_area .review_list {
        max-height: 500px;
        overflow: auto;
    }
</style>

<!--▼レビューエリア-->
<div id="review_area" class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="accordion">
            <dl>
                {% set star = 5 - avg %}
                <dt class="heading02 sp">この商品のレビュー
                    <span>{% if avg %}<span class="recommend_level">{% for i in 1..avg %}★{% endfor %}</span>{% endif %}{% if star %}<span>{% for i in 1..star %}☆{% endfor %}</span>{% endif %}
                    <span>
                        ({{ number }})
                    </span>
                    </span>
                    <svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg></dt>
                <dt class="heading02 pc active">この商品のレビュー
                    <span>{% if avg %}<span class="recommend_level">{% for i in 1..avg %}★{% endfor %}</span>{% endif %}{% if star %}<span>{% for i in 1..star %}☆{% endfor %}</span>{% endif %}
                    <span>
                        ({{ number }})
                    </span>
                    </span>
                    <svg class="cb cb-angle-down"><use xlink:href="#cb-angle-down" /></svg></dt>
                <dd>
                    <div class="review_btn">
                        <a href="{{ url('plugin_products_detail_review', {'id' : id}) }}" class="btn btn-info">レビューを書く</a>
                    </div>
                    {% if ProductReviews %}
                    <ul class="review_list">
                        {% for ProductReview in ProductReviews %}
                            <li>
                                <p class="review_date">
                                    {% set url = 'javascript:void(0);' %}
                                    {% if ProductReview.reviewer_url %}
                                        {% set url = ProductReview.reviewer_url %}
                                    {% endif %}

                                    {{ ProductReview.create_date|date_format }}

                                    <a href="{{ url }}">{{ ProductReview.reviewer_name }}さん</a>
                                    {% set star = 5 - ProductReview.recommend_level %}
                                    <span>{% if ProductReview.recommend_level %}<span class="recommend_level">{% for i in 1..ProductReview.recommend_level %}★{% endfor %}</span>{% endif %}{% if star %}<span>{% for i in 1..star %}☆{% endfor %}</span>{% endif %}</span>
                                </p>
                                <h4 class="heading04">{{ ProductReview.title }}</h4>
                                <p>{{ ProductReview.comment }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- ▲レビューエリア -->

